<ion-header>
    <ion-toolbar>
      <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Content
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    This is a perfect starting point for a page with primarily text content. The body is padded nicely and ready for prose.
  </p>
</ion-content>