<ion-header>
  <ion-navbar>
    <ion-title>{{ course.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="course-detail" padding>
    <h2>{{course.name}}</h2>
    <p>{{course.code}}</p>
    <p>en progreso</p>
  </div>
</ion-content>