<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Archivos Recientes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <button ion-item *ngFor="let item of documentos" (click)="openItem()">
          {{item.path}}
          <div class="item-note">
            {{item.name}}
          </div>
          <div class="item-note">
            {{item.created}}
          </div>
          <div class="item-note">
            {{item.owner_fk}}
          </div>
          <div class="item-note" item-end>
            <ion-icon name="download"></ion-icon>
          </div>
        </button>
      </ion-list>
</ion-content>