<ion-header>
  <ion-toolbar>
      <button ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Invitado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
 <p>
    Al usar, acceder, descargar, instalar, obtener o brindar información desde y hacia esta 
    Aplicación Móvil, se considerará que los Usuarios han leído y aceptado estos Términos y 
    Condiciones (incluyendo nuestra Política de Privacidad), que se incorpora al presente
     documento en virtud de esta referencia. 
 </p> 
</ion-content>
